[submodule "bundle/ReplaceWithRegister"]
	path = bundle/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
	ignore = untracked
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
	ignore = untracked
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
	ignore = untracked
[submodule "bundle/vim-lion"]
	path = bundle/vim-lion
	url = https://github.com/tommcdo/vim-lion
	ignore = untracked
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
	ignore = untracked
